@import url('https://fonts.googleapis.com/css2?family=Futura:ital,wght@0,400;1,300&display=swap');

body {
    box-sizing: border-box;
    font-family: "Futura", sans-serif;
    padding: 30px;
}

.article-text {
    font-size: 16px;
    font-family: Calibri, sans-serif;
}

.brand {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 3px solid #000;
    padding: 30px;
    margin: 0;
}

.nav-links:hover {
    text-decoration: underline;
}

.site-section a {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.story {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 10px;
}

.article-title {
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

.brand-header {
    grid-area: header;
}

.nav-links {
    grid-area: nav;
}

.story-1 {
    grid-area: story-1;
}

.story-2 {
    grid-area: story-2;
}

.story-3 {
    grid-area: story-3;
    border-right: 3px solid #000;

}

.story-4 {
    grid-area: story-4;
}

.story-5 {
    grid-area: story-5;
    border-right: 3px solid #000;
}


.page {
    display: grid;
    grid-template-areas:
        'header header header'
        'nav nav nav'
        'story-1 story-2 story-3'
        'story-4 story-5 story-5'
    ;
}

.article-img {
    display: block;
    margin: 0 auto;
    max-height: 250px;
}