/* Grabbed from Google Fonts, Font Pairings helped with selection */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap");

/* Grabbed from Adobe Color, kinda like Coolors but can copy as CSS */
:root {
	/* Colors */
	--dark-gray: #363432;
	--light-gray: #5a5a5a;
	--dark-blue: #196774;
	--light-blue: #90a19d;
	--yellow: #f0941f;
	--orange: #ef6024;
	--white: #ffffff;

	/* Fonts */
	--font-heading: "Oswald", sans-serif;
	--font-body: "Source Sans 3", sans-serif;
	--font-size: 1.3rem;
}

body {
	background: var(--dark-gray);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-body);
	color: var(--white);
	font-size: var(--font-size);
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
	margin: 0;
}

a {
	color: var(--dark-blue);
}

a:hover {
	color: var(--light-blue);
	text-decoration: none;
}

p {
	font-family: var(--font-body);
	letter-spacing: 1.5px;
}

/* Intro Section */
#intro {
	padding: 4rem 1rem 10rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

#intro p {
	font-size: 1rem;
	line-height: 1.5;
}

#intro .name {
	font-family: var(--font-body);
	font-size: 1rem;
}

#intro .name span {
	font-family: var(--font-heading);
	font-size: 4rem;
	color: var(--orange);
	display: block;
	font-weight: 300;
}

#intro h2 {
	font-size: 4rem;
}

/* Gradient Divider */
.gradient-orange {
	background: linear-gradient(90deg, var(--light-blue) 0%, var(--orange) 50%, var(--light-blue) 100%);
	height: 6px;
}

.gradient-white {
	background: linear-gradient(90deg, var(--light-gray) 0%, var(--white) 50%, var(--light-gray) 100%);
	height: 6px;
}

/* Projects Section */
.container-two {
	background: var(--dark-blue);
}

#projects {
	padding: 4rem 1rem 10rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
}

/* Contact Section */
.container-three {
	background: var(--yellow);
}

#contact {
	padding: 4rem 1rem 10rem 1rem;
	max-width: 400px;
	margin: 0 auto;
}

#contact h3 {
	text-align: center;
	font-size: 2.5rem;
}

#contact p {
	text-align: center;
}

#contact button {
	cursor: pointer;
	padding: 15px 60px;
	border: none;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--orange);
	font-size: var(--font-size);
	display: block;
	margin: 40px auto 0 auto;
}

#contact button:hover {
	background-color: var(--light-gray);
	transition: background-color 1s ease;
}

#contact a {
	text-decoration: none;
}

/* Main Menu */
nav {
	padding: 4rem 1rem 10rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .logo-container {
	width: 50%;
	display: flex;
}

.logo-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo-text {
	display: flex;
	padding-left: 20px;
	font-size: 2rem;
	margin: 0;
	color: var(--white);
	font-family: var(--font-heading);
	letter-spacing: 1.5px;
}

a.logo-text {
	text-decoration: none;
}

.logo-text:hover {
	color: var(--orange);
}

.logo-icon {
	width: 50px;
	height: 50px;
}

.logo-text h1 {
	padding-left: 20px;
}

nav .navigation {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 50px;
}

.nav-item a {
	color: var(--white);
	text-decoration: none;
	font-family: var(--font-heading);
	letter-spacing: 1.5px;
	cursor: pointer;
	display: block;
}

.nav-item a:hover {
	color: var(--orange);
}

.nav-item.icon i {
	color: var(--yellow);
	font-size: 1.7rem;
}

.nav-item.icon i:hover {
	color: var(--orange);
}

button.resume {
	cursor: pointer;
	padding: 5px 40px;
	border: none;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--orange);
	font-size: 1.2rem;
	min-height: 50px;
}

button.resume:hover {
	background-color: var(--yellow);
	transition: background-color 1s ease;
}

button.resume a {
	text-decoration: none;
}

/* Mobile Logo */

@media screen and (max-width: 875px) {
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1.5rem 1rem;
	}
	.logo-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav .navigation {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
	button.resume {
		padding: 0px 20px;
		min-height: 30px;
	}
	.nav-item.link {
		padding: 0 15px;
		margin-bottom: 10px;
	}
	.logo-text h1 {
		justify-content: space-between;
		font-size: 1.5rem;
	}
	nav .logo-container {
		width: 100%;
		margin-bottom: 20px;
		justify-content: flex-start;
	}
}

/* Footer section */
.container-four {
	background: var(--orange);
}

#footer {
	padding: 4rem 1rem 5rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

#footer p {
	margin: 0;
}

#footer h3 {
	font-size: 2.5rem;
}

.footer-buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: 20px auto;
}

.footer-icon a {
	color: var(--dark-blue);
	font-size: 50px;
}

.footer-icon a:hover {
	color: var(--white);
}

/* Projects */
#projects h3 {
	font-size: 2.5rem;
}
