@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	box-sizing: border-box;
	margin: 2%;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 16px;
	min-height: 100vh;
	padding: 0;
	background-color: #efefef;
}

body::after {
	content: url('./dragon.png');
	position: absolute;
	display: block;
	top: 50%;
	margin: 0 auto 0;
	text-align: center;
	width: 100%;
	z-index: -1;
}

.container {
	background: rgba(206, 206, 206, 0.7);
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
}

h1 {
	display: flex;
	background-color: #333;
	color: #fff;
	justify-content: center;
	padding: 5px;
	border-radius: 15px;
}

ul {
	list-style-type: none;
	padding: 5px 0 5px 0;
}

ul li::before {
	content: '➡️ ';
}
